*

# project root files
!.gitignore
!Dockerfile
!Containerfile
!LICENSE
!README.md
!install.sh
!justfile
!main.nf
!nextflow.config
!pixi.lock
!pyproject.toml
!uv.lock
!.envrc
!flake.nix

# workflows
!/workflows
!/workflows/*.nf

# subworkflows
!/subworkflows
!/subworkflows/*.nf

# modules
!/modules
!/modules/*.nf

# bin
!/bin
!/bin/*.py

# build files
!/build/user-settings.mkfg
!/build/nvd2.sif

# configuration
!/conf
!/conf/results.config
!/conf/user-settings.mkfg

# assets
!/assets
!/assets/example_samplesheet.csv

# docs
!/docs
!/docs/INSTALLATION.md
!/docs/contributor_guide.md
!/docs/example_commands.md

# scripts
!/scripts/*
!/scripts/*.sh
!/scripts/*.awk
!/scripts/*.pl
!/scripts/*.py
!/scripts/*.lua
!/scripts/*.ts
!/scripts/*.js

# github workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

