*

# project root files
!.gitignore
!Dockerfile
!Containerfile
!nvd2.def
!LICENSE
!README.md
!justfile
!main.nf
!nextflow.config
!pixi.lock
!pyproject.toml
!uv.lock
!.envrc
!flake.nix

# workflows
!/workflows
!/workflows/*.nf

# subworkflows
!/subworkflows
!/subworkflows/*.nf

# modules
!/modules
!/modules/*.nf

# legacy
!/legacy
!/legacy/README.md
!/legacy/data
!/legacy/config
!/legacy/config/config.yml
!/legacy/config/config.yaml
!/legacy/workflow/
!/legacy/workflow/Snakefile
!/legacy/workflow/scripts
!/legacy/workflow/scripts/*.py
!/legacy/workflow/rules
!/legacy/workflow/rules/*.smk

# bin
!/bin
!/bin/*.py

# build files
!/build/user-settings.mkfg
!/build/nvd2.sif

# configuration
!/conf
!/conf/results.config
!/conf/labkey.config
!/conf/user-settings.mkfg

# assets
!/assets
!/assets/example_samplesheet.csv

